* {
    box-sizing: border-box;
}

.container-1 {
    display:flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
   border:1px black solid;          
   

}

.divsq {
    display:flex;
    border: 1px solid black ;
    padding: 1px;
    
    
}
.reset {
    margin-bottom: 32px;
}